doctype html
html
  head
    title Auth
  body
    script(type='application/javascript').
      var windowLocation =
        'http://localhost:9000/iago/new?state=#{tempId}&callback_url=#{callbackUrl}&redirect_uri=#{redirectUri}'
      //window.location = windowLocation;
    h3 We need to register your Iago client. Is this okay?
    button(onclick='window.location = windowLocation;') Yes
    button(onclick='window.location = "/"') No
