extends auth-layout

block content
  h3 We need to register your Iago client.
  p To proceed, please click this link:
  p
    a(href='https://#{authUrl}/iago/new?state=#{tempId}&callback_url=#{callbackUrl}&redirect_uri=#{redirectUri}') Register Iago
