extends layout

block content
  script(type="text/x-handlebars", data-template-name="application")
    section#webkite-auth
      | {{#if currentUser}}
      | logged in as: {{ currentUser.email }}
      | <button {{ action logout }} class="webkite-logout">logout</button>
      | <br />
      | {{link-to "index" "index"}}<br />
      | {{link-to "themes" "themes"}}<br />
      | {{link-to "use_cases" "use_cases"}}
      | {{else}}
      | <button {{ action login }} class="webkite-login">login</button>
      | {{/if}}
    img(src="/images/iago-logo-m.png" width="200" height="200" title="Iago Logo" alt="Logo" style="float:right")
    main {{outlet}}

  script(type="text/x-handlebars", data-template-name="themes")
    section
      hr
      | {{#each}}
      a(href="/themes/{{unbound name}}/preview" target="_blank") {{ name }}
      br
      | {{/each}}
      | {{input type="text" id="new-theme" placeholder="new theme name" value=newThemeName action="create"}}

  script(type="text/x-handlebars", data-template-name="use_cases")
    section
      section#published_use_cases.use-case-list
        h2 Published Use Cases
        | <ul>{{#each publicUseCases}}
        |   <li><h4>{{name}}</h4>
        |   </li>
        | {{/each}}</ul>
      section#local_use_cases.use-case-list
        h2 Work in Progress
        | {{render "local_use_cases" localUseCases}}
        | {{link-to "new" "use_cases.new"}}
        | {{outlet}}

  script(type="text/x-handlebars", data-template-name="local_use_cases")
    | <ul>{{#each useCase in model}}
    |   <li><span>{{useCase.name}}</span>
    |     <button {{action "publish" useCase}}>Publish</button>
    |   </li>
    | {{/each}}</ul>

  script(type="text/x-handlebars", data-template-name="use_cases/new")
    br
    | {{input type="text" placeholder="new use case name" value=newUseCaseName}}
    br
    | {{textarea placeholder="description" value=newUseCaseDescription}}
    br
    | {{input type="text" placeholder="icon" value=newUseCaseIcon}}
    br
    | <button {{action "create"}}>Create New</button>

