extends layout

block content
  script#index(type="text/x-handlebars")
    section#webkite-auth
    img(src="/images/iago-logo-m.png" width="200" height="200" title="Iago Logo" alt="Logo" style="float:right")
    main {{outlet}}

  script#themes(type="text/x-handlebars", data-template-name="themes")
    | {{#each}}
    a(href="/themes/{{unbound name}}/preview" target="_blank") {{ name }}
    br
    | {{/each}}

