extends layout

block content
  script(type="text/x-handlebars", data-template-name="application")
    section#webkite-auth
      | {{#if currentUser}}
      | logged in as: {{ currentUser.email }}
      | <button {{ action logout }} class="webkite-logout">logout</button>
      | {{else}}
      | <button {{ action login }} class="webkite-login">login</button>
      | {{/if}}
    img(src="/images/iago-logo-m.png" width="200" height="200" title="Iago Logo" alt="Logo" style="float:right")
    main {{outlet}}

  script(type="text/x-handlebars", data-template-name="themes")
    | {{#each}}
    a(href="/themes/{{unbound name}}/preview" target="_blank") {{ name }}
    br
    | {{/each}}
    | {{input type="text" id="new-theme" placeholder="new theme name" value=newThemeName action="create"}}

  script(type="text/x-handlebars", data-template-name="use_cases")
    section
      section#published_use_cases.use-case-list
        h2 Published Use Cases
        | <ul>{{#each publicUseCases}}
        |   <li><h4>{{name}}</h4>
        |   </li>
        | {{/each}}</ul>
      section#local_use_cases.use-case-list
        h2 Work in Progress
        | <ul>{{#each localUseCases}}
        |   <li><h4>{{name}}</h4>
        |   </li>
        | {{/each}}</ul>


