extends layout

block content
  img(src="/images/iago-logo-m.png" width="200" height="200" title="Iago Logo" alt="Logo")
  p
    | Welcome to Iago, the theme development client for embeddable 
    a(href="http://webkite.com", target="_blank", title="webkite.com") WebKite
  p
    | New to Iago? Check out an 
    a(href="http://webkite-themes.github.io", target="_blank", title="iago presentation") introductory presentation
  p
    | To get started, you'll need to log in with your 
    a(href="https://auth.webkite.org", target="_blank", title="webkite auth")
      | WebKite Account
    |  so Iago can communicate with our servers on your behalf.
  p
    | Hey, it looks like you've already got some themes:
  each theme in themes
    a(href="/themes/#{theme}/preview")= theme
    br
