doctype html
html
  head
    title= name + ' preview'
    link(rel='icon' type='image/x-icon' href='/images/webkite_favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
